:root {
  --primary-colour: #f0e9e1;
  --secondary-colour: #b8a17f;
}

@media (max-width: 768px) {
  .about-paragraphs {
    font-size: 1rem; /* Slightly smaller font for better mobile readability */
    padding: 4%; /* More padding on smaller screens */
  }
}
h1 {
  font-family: "Bakbak One", sans-serif;
  line-height: 7px;
  padding: 15px;
  font-weight: 600;
}

h2,
h3 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

h3 {
  font-weight: normal;
  padding-bottom: 20px;
}
p {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero,
.contact-content {
  background: var(--primary-colour);
  text-align: center;
  padding: 170px 0;
  margin: 15px 0;
}

.btn-outline-dark {
  border: 2px solid var(--secondary-colour);
  --bs-btn-hover-color: White;
  --bs-btn-hover-bg: var(--secondary-colour);
  --bs-btn-hover-border-color: var(--primary-colour);
}

.btn-branding {
  background: var(--secondary-colour);
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  cursor: pointer;
}

.btn-branding:hover {
  background-color: var(--secondary-colour);
  color: white;
  border-color: black;
}

.about {
  background: var(--primary-colour);
  text-align: center;
  margin: 15px 0;
}

.about-paragraphs {
  border: 3px solid var(--secondary-colour);
  border-radius: 8px;
  display: flex;
  padding: 100px 50px;
  max-width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

.nav-item :hover {
  color: var(--secondary-colour);
}

footer .social-links a {
  margin: 10px 25px;
  color: var(--secondary-colour);
  background: var(--primary-colour);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-colour);
}

footer .email-link:hover {
  color: var(--secondary-colour);
}
